<html>
  <head>
    <title>B&C Recipes</title>
    <link rel="stylesheet" href="./main.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  
  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">

      <div class="one">
        <h1>B&C Recipes</h1>
        <button ng-click="reload()">Reload categories</button>
        <button ng-click="random()">Random Meal</button>
      </div>
      
      <div class="two">
        <div ng-repeat="item in food" ng-click="clicked(item.strCategory, item.idMeal)">
          <div class="result">
            <h1>{{item.strCategory}}</h1>
            <h2>{{item.strMeal}}</h2>
            <h3>{{item.strArea}}</h3>
            <img src="{{item.strCategoryThumb}}{{item.strMealThumb}}">
            <p>{{item.strCategoryDescription}}{{item.strInstructions}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>